@model IsadMholt.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CookieId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CookieId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Expires)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Expires)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCustomer">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
