
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<table style="width:100%">
    <tr>
        <td>
            @Html.ActionLink("Bar", "newCustomer", "Customers", new { uID = "9" }, new { @class = "btn btn-default" })
            @Html.ActionLink("Table 1", "newCustomer", "Customers", new { uID = "1" }, new { @class = "btn btn-default" })
            @Html.ActionLink("Table 2", "newCustomer", "Customers", new { uID = "2" }, new { @class = "btn btn-default" })
            @Html.ActionLink("Table 3", "newCustomer", "Customers", new { uID = "3" }, new { @class = "btn btn-default" })
        </td>
        
        <td>
            <p>Are you an admin?</p>
            @Html.ActionLink("Login as Admin.", "SetAdminCookie", "Customers", null, new { @class = "btn btn-default" })
        </td>
    </tr>
    <tr>
        
    </tr>

</table>