
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<table style="width:100%">
    <tr>
        <td>
            @Html.ActionLink("Bar", "SetuserCookie", "Home",  new { uID = "b" }, new { @class = "btn btn-default"})
            @Html.ActionLink("Table 1", "SetuserCookie", "Home", new { uID = "1" }, new { @class = "btn btn-default" })
            @Html.ActionLink("Table 2", "SetuserCookie", "Home", new { uID = "2" }, new { @class = "btn btn-default" })
            @Html.ActionLink("Table 3", "SetuserCookie", "Home", new { uID = "3" }, new { @class = "btn btn-default" })

        </td>
        
        <td>
            <p>Are you an admin?</p>
            @Html.ActionLink("Login as Admin.", "SetAdminCookie", "Home", null, new { @class = "btn btn-default" })
        </td>
    </tr>
    <tr>
        
    </tr>

</table>