@model IEnumerable<IsadMholt.Models.Items>

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Catagory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    string picURL = item.Url;
        <tr>
            <td>
                <img src="~/Images/@Html.DisplayFor(model =>picURL)" style="height:106px;width:160px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catagory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (Context.Request.Cookies["user"] != "Admin")
                {
                    <a asp-action="addBasket" asp-route-id="@item.IdItem" asp-route-price="@item.Price">Add to basket.</a>
                }
                else
                {
                    <a asp-area="" asp-controller="Home" asp-action="Index">Login to a customer account to order.</a>
                }

            </td>
        </tr>
}
    </tbody>
</table>
